/* CSS FILE FOR IMAGE */
div,section,video { padding: 45px; }

/* FOR SMALLER DEVICES */
@-ms-viewport{ width:device-width; }

/* ------ IMAGE SIZE ------ */
.image{
    min-height:300px;
    padding:3em;
    margin:.5em;
    min-width:20%;
    border-radius:0
}
.image{ 
    border-radius:.25em; 
    border:0; 
    display:inline-block; 
    position:relative 
}
.image img{ 
    border-radius:.25em; 
    display:block;
}
.image.left,.image.right{ max-width:40%}
.image.left img,.image.right img{ width:100% }
.image.left{ 
    float:left; 
    margin:0 1.5em 1em 0; 
    top:.25em;
}
.image.right{ float:right; 
    margin:0 0 1em 1.5em; 
    top:.25em;
}
.image.fit{
    display:block; 
    margin:0 0 2em; 
    width:100%;
}
.image.fit img{ width:100% }
.image.main{ display:block;
    margin:0 0 3em; 
    width:100%;
}
.image.main img{ width:100% }

.d-flex{ 
    -moz-justify-content:center; 
    -ms-justify-content:center; 
    -ms-flex-pack:center; 
    justify-content:center
}
.d-flex{ 
    display:-moz-flex; 
    display:-ms-flex; 
    display:-ms-flexbox; 
    display:flex;
}